<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />


  <!--bootstrap-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>

  <!--Material design-->
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

</head>

<body>
  <!--<script>mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));</script>-->

  <div class=""></div>
  <h1><%= title %></h1>
  <h2>Bienvenue sur la page d'accueil du projet Cloud de :<br>Branavan Subramaniam, Quentin Tourette, Louis Rémy,
    Théophile
    Puiseux</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-1">
        <a href="/query1">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 1</span>
          </button>
        </a>
      </div>

      <div class="col-1">
        <a href="/query2">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 2</span>
          </button>
        </a>
      </div>

      <div class="col-1">
        <a href="/query3">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 3</span>
          </button>
        </a>
      </div>

      <div class="col-1">
        <a href="/query4">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 4</span>
          </button>
        </a>
      </div>

      <div class="col-1">
        <a href="/query5">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 5</span>
          </button>
        </a>
      </div>

      <div class="col-1">
        <a href="/query6">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 6</span>
          </button>
        </a>
      </div>

      <div class="col-1">
        <a href="/query7">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 7</span>
          </button>
        </a>
      </div>

      <div class="col-1">
        <a href="/query8">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Query 8</span>
          </button>
        </a>
      </div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
  </div>
</body>

</html>